<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system.xsd">
    <system>
        <tab id="atopt" translate="label" sortOrder="1000">
            <label>Atopt</label>
        </tab>
    </system>   
</config>